
<div class="container">


    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

        <h1 class="text-center"><br />LOGIN<br /></h1>

        <div class="form-group, text-center">
            <label for="staticEmail" class="col-sm-2 col-form-label">Correo</label>
            <div class="text-center">
                <input type="text" style="width:400px" class="form-control, center-block" id="usuario" name="usuarioLogueado" placeholder="email@example.com">
            </div>
        </div>

        <div class="form-group, text-center">
            <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="text-center">
                <input type="password" style="width:400px" class="form-control, center-block" id="password" name="password">
            </div>
        </div>

        <div class="mb-3 row, text-center">
            <br />
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <br />
            @Html.ActionLink("Resgistrarse Aquí", "Registrarse", "Home", null, new { @class = "btn btn-link" })
        </div>
    }
</div>

@if (TempData["texto"] != null)
{
    <script>
            alertify.notify('@TempData["texto"].ToString()', '@TempData["color"].ToString()', 5);
    </script>
}